Repository isoppp/sandbox-next-hasura-firebase-auth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add tailwindcss using cdn
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

show article content
  src/pages/articles/[articleId]/index.tsx
Due: prettier --write, eslint --fix

add article new page with react-hook-form without api request
  package.json
  src/pages/_app.tsx
  src/pages/articles/[articleId]/index.tsx
  src/pages/articles/new/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

add schema for IDE auto completion
  README.md
  schema.graphql
Due: prettier --write

add post article mutation
  README.md
  src/pages/articles/new/post-article.graphql
Due: prettier --write

make it possible to add post
  src/constants/dummy.ts
  src/pages/articles/new/index.tsx
Due: prettier --write, eslint --fix

add articles top
  src/components/ArticleNav.tsx
  src/pages/_app.tsx
  src/pages/articles/get-articles.graphql
  src/pages/articles/index.tsx
Due: prettier --write, eslint --fix

adjust elint config
  .eslintrc.js
  package.json
  src/components/ArticleNav.tsx
  src/pages/_app.tsx
  src/pages/articles/new/index.tsx
Due: prettier --write, eslint --fix

fix case
  src/pages/articles/[articleId]/get-article.graphql
  src/pages/articles/get-articles.graphql
Due: none

add dev command to npm scripts
  package.json
  yarn.lock
Due: prettier --write

make it possible to update article
  src/components/ArticleNav.tsx
  src/pages/articles/[articleId]/edit/index.tsx
  src/pages/articles/[articleId]/edit/update-article.graphql
Due: prettier --write, eslint --fix

adjsut dev command
  README.md
  package.json
Due: prettier --write

make it possible to delete article
  src/components/ArticleNav.tsx
  src/components/delete-article.graphql
Due: prettier --write, eslint --fix

put together all .graphql files
  codegen.yml
  src/graphql/articles/delete-article.graphql
  src/graphql/articles/get-article.graphql
  src/graphql/articles/get-articles.graphql
  src/graphql/articles/post-article.graphql
Due: prettier --write

init firebase functions
  .firebaserc
  firebase.json
  functions/.gitignore
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/tsconfig.json
Due: prettier --write, eslint --fix

enable Hasura JWT mode
  codegen.yml
  docker-compose.yml
  hasura/config.yaml
  hasura/metadata/tables.yaml
Due: prettier --write

fix wrong file location
  src/graphql/articles/update-article.graphql
  src/pages/articles/[articleId]/edit/index.tsx
Due: prettier --write, eslint --fix

add user.onCreate event in order to add custom claim to new users
  functions/src/index.ts
Due: prettier --write, eslint --fix

add firebase auth with naive approach
  package.json
  src/auth/firebase.ts
  src/components/ArticleNav.tsx
  yarn.lock
Due: prettier --write, eslint --fix

setup firebase emulator
  .gitignore
  firebase.json
  package.json
  src/auth/firebase.ts
  src/components/ArticleNav.tsx
Due: prettier --write, eslint --fix

make it possible to carete user into Hasura by Firebase Auth
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  hasura/metadata/tables.yaml
  hasura/migrations/1604067952840_adjust-tables-for-firebase-auth/down.sql
  hasura/migrations/1604067952840_adjust-tables-for-firebase-auth/up.sql
Due: prettier --write, eslint --fix

merge migration
  hasura/migrations/1602772475491_create-users-and-articles/down.sql
  hasura/migrations/1604067952840_adjust-tables-for-firebase-auth/up.sql
  hasura/migrations/1604111110279_create-users-and-articles/down.sql
  hasura/migrations/1604111110279_create-users-and-articles/up.sql
Due: none

add example .env file
  .env.local.example
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,md,mdx,html,css,scss,yml,yaml})
  eslint --fix: any of: *.{ts,tsx}
